*_config.h
.cvsignore
.deps/
aclocal.m4
autom4te.cache/
configure
config.log
config.status
config/compile
CVS/
libtool
libwww-config
Makefile.in
Makefile
stamp-h
stamp-h1
w3c-libwww.spec
wwwconf.h.in
wwwconf.h

